html {
  /* define some variables we can use later */
  --forest-green: #241;
  --forest-green-transparent: #2418;
  --sans-serif-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body::before {
  /* the trees background image */
  background-image: url("https://media.istockphoto.com/id/1082411378/photo/magical-fairytale-forest.jpg?s=612x612&w=0&k=20&c=3iw53YdeeFEqRuxcUL0UCQZUMJ3e2IRtUfvgSjAysjQ=");
  /* prevent the image from tiling */
  background-size: cover;
  content: "";
  position: absolute;
  /* make sure it takes up the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* make the image transparent */
  filter: opacity(50%);
}

body {
  /* get rid of awkward margins that are inserted by default */
  margin: 0;
  height: 100vh;
}

body > * {
  /* magical spell to prevent the background image from covering everything up */
  position: relative;
}

/* Header */
.header {
  background-color: var(--forest-green);
  color: white;
  align-items: center;
  align-content: center;
  padding: 1em;
}

.header * {
  text-align: center;
}

/* Utility Classes */

.send-right {
  /* anything with this class will go as far to the right as it can */
  position: absolute;
  right: 1em;
}

.center {
  /* anything with this class will center elements inside of it */
  text-align: center;
  align-items: center;
  align-content: center;
}

.main-page-content {
  /* anything with this class will be set to a reasonable width based on screen size and centered on the screen */
  min-width: 50%;
  max-width: 80%;
  width: 20em;
  height: fill;
  margin: auto;
  margin-top: 2em;
}

/* General Elements */

.button {
  background-color: #fff4;
  border-radius: 4px;
  color: inherit;
  margin: 1px;
  padding: 1px;
  text-decoration: inherit;
}

.button:hover {
  background-color: #fff6;
  margin: 0px;
  padding: 2px;
  color: inherit;
  cursor: pointer;
}

.card {
  /* this class handles rounded corners and shadow */
  border-radius: 30px;
  background-color: white;
  box-shadow: -10px 10px 3px var(--forest-green-transparent);
  position: relative;
  padding: 0.5em;
}

.card .profile-img {
  position: absolute;
  right: 1em;
  top: 1em;
  height: 2em;
  width: 2em;
  border-radius: 1em;
}

.card h2 {
  /* headings are green and sans-serif */
  color: var(--forest-green);
  font-family: var(--sans-serif-font);
}

.card b {
  /* bold text becomes green */
  color: var(--forest-green);
}

/* Airline Reports Page */

.airline-reports {
  /* the reports page has a different background color */
  margin-top: 0;
  height: 100%;
  background-color: #fff8;
  padding: 4em;
}

.airline-reports h2 {
  /* the heading on airline-reports is green and sans-serif */
  color: var(--forest-green);
  text-align: center;
  font-family: var(--sans-serif-font);
}

.sort-reports {
  /* styles to make the ≡ button look presentable */
  color: var(--forest-green);
  font-weight: bolder;
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 4em;
  text-align: center;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
}
